################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebbiDemo/.vs/WebbiDemo/v16
